<section class="About-us" id="about">
  <div class="container">
    <div class="About-us-container">
      <div class="About-us-description">
        <h2 class="About-us-title">
          YachtJet fleet is here to take you on the ultimate adventure
        </h2>
        <div class="About-us-flex">
          <p class="About-us-text">
            From spacious decks to state-of-the-art technology, our yachts are
            designed to provide the perfect blend of luxury and functionality.
          </p>
          <p class="About-us-text-two">
            Take a look at our selection below and choose the yacht that matches
            your needs and preferences.No matter which yacht you choose, our
            experienced crew will ensure that your journey is smooth and
            enjoyable. Book now and get ready for an unforgettable adventure on
            the high seas.
          </p>
        </div>
      </div>
      <picture>
        <source
          srcset="
            ./img/about-us/About-us-desktop1440-1x-min.jpg,
            ./img/about-us/About-us-desktop1440-2x-min.jpg
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./img/about-us/About-us-new-desktop-1x-min.jpg 1x,
            ./img/about-us/About-us-new-desktop-2x-min.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/about-us/About-us-new-tablet-1x-min.jpg,
            ./img/about-us/About-us-new-tablet-2x-min.jpg
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/about-us/About-us-new-mobile-1x-min.jpg,
            ./img/about-us/About-us-new-mobile-2x-min.jpg
          "
          media="(max-width: 767px)"
        />

        <img
          class="About-images"
          src="./img/about-us/About-us-new-mobile-1x-min.jpg"
          width="335"
          alt="YachtJet fleet"
        />
      </picture>
    </div>
  </div>
</section>
