<section class="hero">
  <picture class="hero-image">
    <source
      srcset="
        ./img/hero/hero-background-1440.jpg,
        ./img/hero/hero-background-1440-2x.jpg
      "
      width="1440"
      height="800"
      media="(min-width: 1440px)"
    />
    <source
      srcset="
        ./img/hero/hero-background-1280.jpg,
        ./img/hero/hero-background-1280-2x.jpg
      "
      width="1280"
      height="800"
      media="(min-width: 1280px)"
    />
    <source
      srcset="
        ./img/hero/hero-background-tablet.jpg,
        ./img/hero/hero-background-tablet-2x.jpg
      "
      width="768"
      height="962"
      media="(min-width: 768px)"
    />
    <source
      srcset="
        ./img/hero/hero-background-mob.jpg,
        ./img/hero/hero-background-mob.jpg-2x
      "
      width="375"
      height="812"
      media="(max-width: 767px)"
    />
    <img
      srcset="
        ./img/hero/hero-background-1440.jpg,
        ./img/hero/hero-background-1440-2x.jpg
      "
      src="./img/hero/hero-background-1440.jpg"
      alt="Luxury Yacht on the open sea"
      width="375"
      height="812"
    />
  </picture>
  <div class="container hero-container">
    <h1 class="hero-header">
      Explore the High Seas with Our Luxury Yacht Rentals
    </h1>
    <p class="hero-paragraf">
      Experience the freedom and luxury of yachting on the open seas. Choose
      from our top-of-the-line yachts and embark on an unforgettable journey
      surrounded by breathtaking views and state-of-the-art amenities.
    </p>
    <a class="hero-button" href="#rent-a-yacht-id"> Yacht rental </a>
  </div>
</section>
