<!-----OUR_YACHTS----->
<section class="our-yachts" id="our_yachts">
  <div class="container">
    <h2 class="ouryachts-title">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="ouryachts-list">
      <li class="ouryachts-item">
        <picture>
          <source
            srcset="
              ./img/our_yachts/first-yacht/first-yacht1x.jpg,
              ./img/our_yachts/first-yacht/first-yacht2x.jpg
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/our_yachts/first-yacht/tablet-yacht1x.jpg,
              ./img/our_yachts/first-yacht/tablet-yacht2x.jpg
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/our_yachts/first-yacht/mob-yacht1x.jpg,
              ./img/our_yachts/first-yacht/mob-yacht2x.jpg
            "
            media="(min-width: 320px)"
          />

          <img
            class="ouryachts-img"
            src="./img/our_yachts/first-yacht/mob-yacht1x.jpg"
            alt="yacht_1"
            width="302"
            height="240"
          />
        </picture>

        <div class="ouryachts-box">
          <div class="ouryachts-block">
            <p class="ouryachts-text-item">Arrow</p>
            <p class="ouryachts-text-item-next">LUXURY YAHTS</p>
          </div>

          <div class="ouryachts-wrap">
            <ul class="ouryachts-list-start">
              <li class="ouryachts-item-start">
                <p class="ouryachts-text-start">LENGTH</p>
              </li>
              <li class="ouryachts-item-start">
                <p class="ouryachts-text-start">BUILDER</p>
              </li>
              <li class="ouryachts-item-start">
                <p class="ouryachts-text-start">BUILT</p>
              </li>
              <li class="ouryachts-item-start">
                <p class="ouryachts-text-start">GUESTS</p>
              </li>
              <li class="ouryachts-item-start">
                <p class="ouryachts-text-start">PRICE</p>
              </li>
            </ul>

            <ul class="ouryachts-list-next">
              <li class="ouryachts-item-next">
                <p class="ouryachts-text-next">48m(155ft)</p>
              </li>
              <li class="ouryachts-item-next">
                <p class="ouryachts-text-next">Admiral</p>
              </li>
              <li class="ouryachts-item-next">
                <p class="ouryachts-text-next">2021</p>
              </li>
              <li class="ouryachts-item-next">
                <p class="ouryachts-text-next">11 in 5 cabins</p>
              </li>
              <li class="ouryachts-item-next">
                <p class="ouryachts-text-next">€33,500,000</p>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li class="ouryachts-item ouryachts-item-tab">
        <picture>
          <source
            srcset="
              ./img/our_yachts/sec-yacht/sec-yacht1x.jpg,
              ./img/our_yachts/sec-yacht/sec-yacht2x.jpg
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/our_yachts/sec-yacht/ses-yacht-tablet1x.jpg,
              ./img/our_yachts/sec-yacht/ses-yacht-tablet2x.jpg
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="../img/our_yachts/sec-yacht/ses-yacht-tablet1x.jpg"
            media="(min-width: 320px)"
          />

          <img
            class="ouryachts-img"
            src="./img/our_yachts//sec-yacht/ses-yacht-tablet1x.jpg"
            alt="yacht_2"
            width="302"
            height="240"
          />
        </picture>
        <div class="ouryachts-box">
          <div class="ouryachts-block">
            <p class="ouryachts-text-item cut-text">BENETTI OASIS 40M BO122</p>
            <p class="ouryachts-text-item-next">LUXURY YAHTS</p>
          </div>

          <div class="ouryachts-wrap">
            <ul class="ouryachts-list-start">
              <li class="ouryachts-item-start">
                <p class="ouryachts-text-start">LENGTH</p>
              </li>
              <li class="ouryachts-item-start">
                <p class="ouryachts-text-start">SHIPYARD</p>
              </li>
              <li class="ouryachts-item-start">
                <p class="ouryachts-text-start">BUILT</p>
              </li>
              <li class="ouryachts-item-start">
                <p class="ouryachts-text-start">GUESTS</p>
              </li>
              <li class="ouryachts-item-start">
                <p class="ouryachts-text-start">PRICE</p>
              </li>
            </ul>

            <ul class="ouryachts-list-next">
              <li class="ouryachts-item-next">
                <p class="ouryachts-text-next">41m (133ft)</p>
              </li>
              <li class="ouryachts-item-next">
                <p class="ouryachts-text-next">Benetti</p>
              </li>
              <li class="ouryachts-item-next">
                <p class="ouryachts-text-next">2025</p>
              </li>
              <li class="ouryachts-item-next">
                <p class="ouryachts-text-next">10 in 5 cabins</p>
              </li>
              <li class="ouryachts-item-next">
                <p class="ouryachts-text-next">€23,210,000</p>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li class="ouryachts-item ouryachts-item-desk">
        <picture>
          <source
            srcset="
              ./img/our_yachts/third-yacht/third-yacht1x.jpg,
              ./img/our_yachts/third-yacht/third-yacht2x.jpg
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/our_yachts/third-yacht/third-yacht1x.jpg,
              ./img/our_yachts/third-yacht/third-yacht2x.jpg
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/our_yachts/third-yacht/third-yacht1x.jpg,
              ./img/our_yachts/third-yacht/third-yacht1x.jpg
            "
            media="(min-width: 320px)"
          />

          <img
            class="ouryachts-img"
            src="./img/our_yachts/third-yacht/third-yacht1x.jpg"
            alt="yacht_2"
            width="302"
            height="240"
          />
        </picture>
        <div class="ouryachts-box">
          <div class="ouryachts-block">
            <p class="ouryachts-text-item">BELLE ANNA</p>
            <p class="ouryachts-text-item-next">LUXURY YAHTS</p>
          </div>

          <div class="ouryachts-wrap">
            <ul class="ouryachts-list-start">
              <li class="ouryachts-item-start">
                <p class="ouryachts-text-start">LENGTH</p>
              </li>
              <li class="ouryachts-item-start">
                <p class="ouryachts-text-start">SHIPYARD</p>
              </li>
              <li class="ouryachts-item-start">
                <p class="ouryachts-text-start">BUILT</p>
              </li>
              <li class="ouryachts-item-start">
                <p class="ouryachts-text-start">GUESTS</p>
              </li>
              <li class="ouryachts-item-start">
                <p class="ouryachts-text-start">PRICE</p>
              </li>
            </ul>

            <ul class="ouryachts-list-next">
              <li class="ouryachts-item-next">
                <p class="ouryachts-text-next">50m(155ft)</p>
              </li>
              <li class="ouryachts-item-next">
                <p class="ouryachts-text-next">ISA</p>
              </li>
              <li class="ouryachts-item-next">
                <p class="ouryachts-text-next">2012</p>
              </li>
              <li class="ouryachts-item-next">
                <p class="ouryachts-text-next">12 in 6 cabins</p>
              </li>
              <li class="ouryachts-item-next">
                <p class="ouryachts-text-next">€21,000,000</p>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
    <a class="ouryachts-link" href="#rent-a-yacht-id">Yacht rental</a>
  </div>
</section>
