ol {
  margin: 0 auto;
  list-style-type: none;
  counter-reset: num;
  padding: 80px 20px;
}

.advantages-list {
  margin-bottom: 20px;
  border-radius: 24px;
  background-color: #1b414b;
}

.adavntages-item {
  color: var(--main-color4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
}

.adavntages-item:not(:last-child) {
  margin-bottom: 40px;
}

ol li::before {
  content: '0' counter(num);
  counter-increment: num;
  font-size: 28px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.05em;
  display: block;
  border-bottom: 2px solid rgba(251, 251, 251, 0.1);
  padding-bottom: 18px;
  margin-bottom: 18px;
}

.advantages-img {
  border-radius: 24px;
}

.advantages-section {
  margin-bottom: 80px;
}

@media screen and (min-width: 768px) {
  ol {
    padding: 90px 32px;
  }

  .advantages-list {
    margin-bottom: 32px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 44px;
    column-gap: 32px;
  }

  .adavntages-item {
    font-size: 13px;
    line-height: 1.15;
    width: calc((100% - 32px) / 2);
  }

  .adavntages-item:not(:last-child) {
    margin-bottom: unset;
  }

  ol li::before {
    font-size: 32px;
  }

  .advantages-img {
    min-width: 704px;
  }

  .advantages-section {
    margin-bottom: 150px;
  }
}

@media screen and (min-width: 1280px) {
  ol {
    padding: 90px 62px 90px 50px;
  }

  .advantages-wrap {
    display: flex;
    gap: 32px;
  }

  .advantages-list {
    margin-bottom: unset;
    gap: 44px;
  }

  .adavntages-item {
    width: calc((100% - 44px) / 2);
  }

  .advantages-img {
    min-width: 432px;
  }
}

@media screen and (min-width: 1440px) {
  ol {
    padding: 90px 50px;
  }

  .advantages-list {
    gap: 44px 32px;
  }

  .adavntages-item {
    width: calc((100% - 32px) / 2);
  }

  .advantages-img {
    min-width: 540px;
  }
}
