page-footer .container {
  padding-left: 10px;
  padding-right: 10px;
}

.footer-general-content-wrapper {
  width: 100%;
  padding: 40px 30px 20px;
  background-color: rgb(27, 65, 75);
  border-radius: 24px 24px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content-and-networks-wrapper {
  width: 100%;
}

.logo-menu-content-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-logo-text {
  color: #fbfbfb;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.03em;
}

.footer-menu-list {
  display: flex;
  gap: 4px;
}

.footer-menu-list-item {
  text-align: center;
}

.footer-menu-list-item-link {
  width: 66px;
  padding: 15px 0;
  background-color: rgba(251, 251, 251, 0.3);
  font-size: 9px;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-menu-list-item-link:hover {
  background-color: #fbfbfb;
  color: #1b414b;
}

.footer-networks {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.footer-network-icon {
  fill: #fbfbfb;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-networks-item-link:hover .footer-network-icon {
  fill-opacity: 0.8;
}

.footer-tagline {
  max-width: 279px;
  display: block;
  margin: 40px auto 0;
  text-align: center;
  color: #fbfbfb;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.02em;
}

.footer-confidentials {
  width: 100%;
  margin-top: 82px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-confidentials-text {
  color: rgba(251, 251, 251, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .page-footer .container {
    padding-left: 25px;
    padding-right: 25px;
  }

  .footer-general-content-wrapper {
    padding: 50px 48px 20px;
  }

  .footer-content-and-networks-wrapper {
    display: flex;
  }

  .logo-menu-content-wrapper {
    gap: 98px;
  }

  .footer-logo-text {
    font-size: 20px;
  }

  .footer-menu-list-item-link {
    width: 91px;
  }

  .footer-networks {
    margin-top: 0;
    margin-left: auto;
  }

  .footer-tagline {
    max-width: 640px;
    margin-top: 96px;
    font-size: 32px;
  }

  .footer-confidentials {
    margin-top: 99px;
    gap: 32px;
  }

  .footer-confidentials-text {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .page-footer .container {
    padding-left: 25px;
    padding-right: 25px;
  }

  .footer-general-content-wrapper {
    padding-top: 50px;
    padding-left: 75px;
    padding-right: 75px;
  }

  .logo-menu-content-wrapper {
    gap: 330px;
  }

  .footer-tagline {
    max-width: 693px;
  }
}

@media screen and (min-width: 1440px) {
  .logo-menu-content-wrapper {
    gap: 409px;
  }

  .footer-tagline {
    max-width: 699px;
  }
}
