/**
  |============================
  | Basic styles
  |============================
*/

:root {
  --white: #fbfbfb;
  --dark-green: #1b414b;
  --translucent-dark-green: rgba(27, 65, 75, 0.5);
  --black: #000000;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.header-section {
  position: absolute;
  top: 20px;

  width: 100%;

  z-index: 1;
}

.yachtjet-logo {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #1b414b;
}

.header-container {
  margin: 0 auto;
  padding: 0 20px;

  min-width: 320px;
  max-width: 375px;
}

.header-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 42px;

  padding: 12px 20px;

  background-color: var(--white);
  border: 1px solid #fbfbfb;
  border-radius: 8px;
}

.nav-list {
  display: none;
}

.button-list {
  display: none;
}

.header-burger {
  display: flex;

  border: none;

  padding: 0;

  background-color: transparent;
  stroke: #1b414b;
  fill: #1b414b;
}

.header-burger:hover,
.header-burger:focus {
  stroke: #055545;
}

@media screen and (min-width: 768px) {
  .header-container {
    max-width: 768px;
    padding: 0 32px;
  }
  .header-navigation {
    max-height: 48px;

    justify-content: space-between;

    padding: 12px 28px;

    background-color: var(--white);
    border: 1px solid #fbfbfb;
    border-radius: 8px;
  }
  .button-list {
    display: flex;
    gap: 4px;
  }
  .header-button {
    display: block;
    width: 91px;
    height: 40px;

    font-size: 9px;
    line-height: 1.3;
    text-transform: uppercase;
    color: #fbfbfb;

    text-align: center;

    padding: 14px 24px;

    background-color: var(--translucent-dark-green);
    border-radius: 8px;
    border: none;

    transition: var(--transition);
  }
  .header-button:hover,
  .header-button:focus {
    background-color: var(--dark-green);
    transition: var(--transition);
  }
  .nav-list {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .header-icons {
    display: flex;
    justify-content: center;
    fill: var(--dark-green);
    transition: var(--transition);
  }
  .header-icons:hover,
  .hedaer-icons:focus {
    transition: var(--transition);
    transform: scale(1.2);

    cursor: pointer;
  }
  .header-burger {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .header-container {
    max-width: 1280px;
    padding: 0 100px;
  }
  .header-navigation {
    padding: 12px 30px;
  }
}

@media screen and (min-width: 1440px) {
  .header-container {
    max-width: 1440px;
  }
}

/* Mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;

  z-index: 2;

  width: 100%;
  height: 100%;

  padding: 20px 20px 40px 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: #0e1823;
}

.menu-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 42px;

  padding: 12px 20px;
  margin-bottom: 20px;

  background-color: var(--white);
  border: 1px solid #fbfbfb;
  border-radius: 8px;
}

.cross-button {
  display: flex;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-buttons {
  display: flex;
  gap: 4px;
  flex-direction: column;
  align-items: center;

  margin-bottom: 20px;
}

.menu-button {
  display: block;
  text-align: center;

  width: 91px;
  max-height: 40px;

  font-size: 9px;
  line-height: 1.3;
  text-transform: uppercase;
  color: #fbfbfb;

  padding: 14px 24px;

  background: rgba(27, 65, 75, 0.5);
  border-radius: 8px;
  border: none;

  transition: var(--transition);
}

.menu-button:hover,
.menu-button:focus {
  background: var(--dark-green);
}

.menu-icons {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.menu-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--white);
}

.menu-icon:hover,
.menu-icon:focus {
  fill-opacity: 0.8;
}
