/*-------MOB-------*/
.rent-a-yacht {
  padding-bottom: 80px;
  font-family: 'inter', sans-serif;
  background-color: #0e1823;
  line-height: 1.5;
}

.rent-content-wrap {
  margin-bottom: 80px;
}

.rent-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 40px;
}

.rent-form {
  display: flex;
  flex-direction: column;
}

.rent-form-fields {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 40px;
}

.rent-input {
  outline: transparent;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 12px;
  padding-left: 18px;
  max-width: 335px;
  height: 42px;
  background-color: transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: #fbfbfb;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rent-input:hover,
.rent-input:focus {
  border-color: rgba(251, 251, 251, 0.5);
}

.rent-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  color: rgba(251, 251, 251, 0.4);
}

.rent-textarea {
  overflow-x: auto;
  outline: transparent;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 12px;
  padding: 14px 14px 14px 18px;
  max-width: 335px;
  height: 108px;
  background-color: transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: #fbfbfb;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rent-textarea:hover,
.rent-textarea:focus {
  border-color: rgba(251, 251, 251, 0.5);
}

.rent-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: rgba(251, 251, 251, 0.4);
}

.rent-send-btn {
  display: block;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  border-radius: 15px;
  padding: 14px 44px;
  width: 122px;
  height: 46px;
  background: #1b414b;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rent-send-btn:hover,
.rent-send-btn:focus {
  background-color: #fbfbfb;
  color: #1b414b;
}

.rent-img {
  border-radius: 24px;
  object-fit: cover;
}
/*-------END-------*/

/*-------TABLET-------*/

@media screen and (min-width: 768px) {
  .rent-a-yacht {
    padding-bottom: 150px;
  }

  .rent-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .rent-content-wrap {
    margin-bottom: 100px;
    min-width: 473px;
  }

  .rent-title {
    font-size: 48px;
    margin-bottom: 50px;
  }

  .rent-input {
    max-width: 472px;
    height: 54px;
  }

  .rent-input::placeholder {
    font-size: 14px;
    line-height: 1.29;
  }

  .rent-textarea {
    padding: 18px;
    max-width: 472px;
    height: 116px;
  }

  .rent-textarea::placeholder {
    font-size: 14px;
    line-height: 1.29;
  }

  .rent-send-btn {
    padding: 18px 75px;
    width: 194px;
    height: 56px;
    font-size: 18px;
    line-height: 1.1;
  }

  .rent-form-fields {
    margin-bottom: 50px;
  }
}
/*-------END-------*/
/*-------DESKTOP-1280-------*/

@media screen and (min-width: 1280px) {
  .rent-container {
    flex-direction: row-reverse;
    align-items: center;
    gap: 50px;
  }

  .rent-content-wrap {
    min-width: 472px;
    margin-bottom: 0;
  }
}

/*-------END-------*/

/*-------DESKTOP-1440-------*/

@media screen and (min-width: 1440px) {
  .rent-container {
    padding-right: 100px;
  }
}

/*-------END-------*/
